// body {
//     background-color: #111111;
//     margin: 0;
//     // overflow-x: hidden;
//   }

.bg {
    // position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    // visibility: visible;
    // z-index: 0;
}

// #select-project {
//     position: relative;
// }

.neon {
    line-height: 5vw;
    font-size: 2vw;
}

.forms-container {
    position: relative;
}

.social-container {
    display: flex;
    width: 15%;
    position: relative;
}

// .about-me-profile {
//     border: 1px solid black;
// }

.about-me-profile p {
    font-size: 15px;
}

#about-title {
    color: #FCB65F;
}

.main-project h1 {
    color: #fcb65f;
}

// @keyframes bg-animation {
//     0% {
//         transform: translate(0, 0)
//     }

//     10% {
//         transform: translate(-5%, -5%)
//     }

//     20% {
//         transform: translate(-10%, 5%)
//     }

//     30% {
//         transform: translate(5%, -10%)
//     }

//     40% {
//         transform: translate(-5%, 15%)
//     }

//     50% {
//         transform: translate(-10%, 5%)
//     }

//     60% {
//         transform: translate(15%, 0)
//     }

//     70% {
//         transform: translate(0, 10%)
//     }

//     80% {
//         transform: translate(-15%, 0)
//     }

//     90% {
//         transform: translate(10%, 5%)
//     }

//     100% {
//         transform: translate(5%, 0)
//     }
// }

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 0 50px;
    font-weight: 700;
}

.introduction-h1-container {
    padding: 50px 0 0 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

// .container .card {
//     // position: relative;
//     /* width: 320px; */
//     height: 300px;
//     width: 300px;
// }

#about-profile {
    background: linear-gradient(-45deg, #fff, rgb(201, 201, 223)) no-repeat;
}

#header-container {
    width: 90%;
}

.introduction-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introduction-img-container img {
    // padding-top: 1%;
    width: 100%;
    opacity: 0.1;
    position: absolute;
}
