body {
  background: linear-gradient(-45deg, #ee7752, #b18f9c, #23a6d5, #23d5ab) no-repeat;
  background-size: 300% 300%;
  height: 100%;
  animation: gradient 10s ease-in-out infinite;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.info-image-container {
  padding: 4px;
  cursor: pointer;
}

.info-image {
  /* background-color: white; */
  width: 10%;
  position: relative;
  filter: invert(90%);
  cursor: pointer;
  z-index: 1;
}

.info-text-container {
  position: relative;
  padding: 20px;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.header-content-container {
  /* border: #282c34 solid 2px; */
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: -1em 0 0.4em rgb(134 134 131);
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1;
  /* background-image: linear-gradient(to
  bottom, #f8f8f8, rgb(250, 250, 245)); */
  /* border-bottom: #eaebee solid 1px; */
}

#header-container {
  display: flex;
  justify-content: space-around;
}

#header-elements-container {
  height: 60px;
  display: flex;
  justify-content: space-around;
}

#header-buttons-container {
  display: flex;
  /* border: red solid 2px; */
  height: 50px;
  gap: 100px;
  text-decoration: none;
  align-items: center;
}

#imagem-perfil {
  width: 50px;
}

@keyframes moveMain {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0vw);
  }
}

.main-profile {
  /* height: auto; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  animation-name: moveMain;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  gap: 500px;
  padding-left: 40px;
  /* border: red solid 2px; */
}

.main-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.introduction-pic-container {
  display: flex;
  /* flex-wrap: wrap; */
  width: 83, 5rem;
  /* border: red solid 2px; */
  height: 12rem;
  justify-content: fle;
  align-items: flex-start;
  padding-top: 100px;
  gap: 40px;
  z-index: 0;
}

.introduction-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: -1em 0 0.4em #217a72;
  height: 500px;
}

footer {
  padding: 10px 30px;
}

@keyframes is-bouncing {
  to {
    transform: translateY(20px);
  }
}

#minha-foto {
  height: 300px;
  animation: is-bouncing 2s ease-in-out alternate infinite;
  position: static;
}

.logo-social {
  width: 45px;
  border-radius: 100%;
}

.about-text {
  padding: 10px 50px;
}

.title-page {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

#hard-skills-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
}

.skills-container {
  display: flex;
  justify-content: space-around;
}

#my-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list-skills {
  display: flex;
  padding: 0px 200px;
}

.images-projects {
  height: 500px;
}

.texts-images-projects {
  color: #050791;
  border: #61dafb solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-weight: 900;
  text-shadow: 1px 1px #1d1c1c;
}

#images-projects-container {
  display: flex;
  justify-content: center;
  padding: 0px;
}

#images-text-projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#images-text-projects-container h2 {
  font-size: 50px;
}

.carousel-control-prev-icon {
  background-color: #1d1c1c;
}

.carousel-control-next-icon {
  background-color: #1d1c1c;
}

.introduction-title {
  text-shadow: 3px 3px #217a72;
  /* color: rgb(89, 91, 92); */
  font-size: 3em;
}

.introduction-title span:hover {
  font-size: 60px;
  color: aqua;
}

.social-container {
  display: flex;
  gap: 5px;
  margin: 10px 50px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: black;
  margin: 8px;
}

.space-container {
  margin: 10px 50px;
}

.menu-inative {
  display: none;
}

.card-title {
  color: black;
}

.card-text {
  color: black;
}

.button-project-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-project {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100vw;
  /* margin-top: 30px; */
}

.main-project h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 60px;
  text-shadow: 1px 1px 2px black;
}

#projects-card {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

#title-contact-page {
  display: flex;
  padding-top: 100px;
}

.title-page {
  display: flex;
  padding-top: 100px;
}

.forms-container {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.main-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  /* position: absolute; */
  bottom: -800px;
  width: 100%;
}

.card {
  height: 400px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  border: 4px solid #b0215e;
  margin-bottom: 20px;
  /* background-image: url('https://images.unsplash.com/photo-1516051662687-567d7c4e8f6a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80'); */
  background-size: cover;
  width: 40%;

  /* @include media {
    height: 500px;
  } */
}

.inner {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  box-sizing: border-box;
  /* padding: 40px; */
  width: 100%;

  /* @include media {
    width: 50%;
    height: 100%;
  } */
}

.title {
  font-size: 24px;
  color: black;
  text-align: center;
  font-weight: 700;
  color: #181818;
  text-shadow: 0px 2px 2px #a6f8d5;
  position: relative;
  margin: 0 0 20px 0;

  @include media {
    font-size: 30px;
  }
}

/* ---------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* *{
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #131313;
} */

.container {
  position: relative;
}

.container .card {
  position: relative;
  /* width: 320px; */
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2d420a;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container .card:after {
  content: 'Projeto';
  position: absolute;
  top: 70%;
  left: -2%;
  font-size: 5em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 25, 0.05)
}

.container .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* z-index: 10000; */
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx {
  top: 0%;
  transform: translateY(0%);

}

.container .card .imgBx img {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 250px;
}

.container .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container .card:hover .contentBx {
  height: 210px;
}

.container .card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  width: 50%;
  z-index: 10;
  /* background: #fff; */
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #ffff;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;

}

.container {
  padding: 0px;
  margin: 0px;
  width: 30%;
}

.card {
  padding: 0;
  margin: 0;
  width: 100%;
}

#project-title {
  margin-left: 15px;
}

/*------------------------------------------------ */

/* div[class*=box] {
	height: 33.33%;
	width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
} */

.box-3 {
  background-color: #232323;
}

.btn-project {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 120%;
  cursor: pointer;
}

.btn-project-cursor:hover {
  cursor: pointer;
}

/* 
========================
      BUTTON THREE
========================
*/
.btn-three {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}

.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}

.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}

.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-three span {
  font-size: 90%;
}

#under-development {
  position: relative;
}

li {
  list-style: none;
}

#select-project {
  width: 20%;
}

/*------------------------------------------------ */

/*------------------------------------------------*/

/* Efeito Texto "Em desenvolvimento */

.container-neon,
.neon {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  /* background-color: black; */
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.container-neon {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.neon {
  font-family: neon;
  color: #FB4264;
  font-size: 3vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

/*------------------------------------------------*/

#buttons-project-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

@media (max-width: 920px) {
  body {
    /* overflow: hidden; */
    height: 140vh;
    width: auto;
    animation: none;
    background: linear-gradient(-45deg, #7BD389, #AEDCC0, #607466, #343E3D) no-repeat;
    background-size: 405vw 405vh;
  }

  .main-contact {
    width: 60%;
  }

  #title-contact-page {
    font-size: 30px;
    text-align: center;
    padding-left: 40%;
  }

  .forms-container {
    display: flex;
    flex-direction: column;
    padding-left: 60%;
    width: 200%;
  }

  #title-contact-page {
    display: flex;
    padding-top: 100px;
  }

  .header-content-container {
    top: 0;
    width: 100%;
  }

  header {
    width: 920px;
    background: linear-gradient(-45deg, #7BD389, #AEDCC0, #607466, #343E3D) no-repeat;
  }

  main {
    width: 920px;
  }

  .main-project {
    width: 370px;
    display: flex;
    flex-direction: column;
  }

  .main-project h1 {
    font-size: 50px;
  }

  #header-elements-container {
    display: none;
  }

  #header-buttons-container {
    position: absolute;
    display: none;
    top: 20vh;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }

  #header-buttons-container-mobile {
    position: fixed;
    top: 8vh;
    display: flex;
    gap: 100px;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding-top: 20px;
    width: 100vw;
    height: 180vh;
    background: linear-gradient(#aedcc0, #7bd389, #38e4ae);
    /* background: linear-gradient(-45deg, #c5a61a, #746b35, #d6bc64, #b49920) no-repeat; */
  }

  a button {
    color: white;
  }

  .title-page {
    margin-top: 80px;
  }

  #header-buttons-container li {
    margin-left: 0;
    opacity: 0;
  }

  #header-container {
    display: flex;
    width: 40%;
    justify-content: flex-start;
  }

  .mobile-menu {
    display: block;
    width: 100%;
    padding-left: 110%;
  }

  #header-buttons-container.active {
    transform: translateX(0);
  }

  .introduction-pic-container {
    display: flex;
    /* flex-wrap: wrap-reverse; */
    flex-direction: column-reverse;
    /* position: relative; */
    z-index: 0;
    margin-top: 350px;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
  }

  .introduction-title {
    word-break: normal;
    font-size: 23px;
  }

  #minha-foto {
    width: auto;
    margin-left: 10px;
  }

  .introduction-container {
    width: 250px;
  }

  #images-text-projects-container h2 {
    font-size: 20px;
    word-break: normal;
  }

  #images-text-projects-container {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 120px;
    width: 100px;
  }

  .carousel {
    display: none;
  }

  .about-text {
    padding: 0;
    width: 300px;
  }

  .main-skills {
    width: 300px;
    padding-left: 20px;
    top: 500px;
  }

  .main-profile {
    width: 300px;
    padding-left: 20px;
    top: 500px;
  }

  .main-about {
    width: 300px;
    padding-left: 20px;
    top: 500px;
  }

  #general-skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #list-skills {
    display: flex;
    margin: 0;
    padding: 0;
    width: 200px;
    justify-content: flex-start;
  }

  .skills-container {
    display: flex;
    gap: 40px;
    height: auto;
  }

  h3 {
    width: 130px;
  }

  footer {
    display: flex;
    position: absolute;
    bottom: -1150px;
  }

  #projects-card {
    display: flex;
    gap: 40px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .container {
    width: 100%;
  }
}

/* @media (max-width: 920px) {
  
} */